@keyframes slide-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(18rem) scaleY(2.5) scaleX(0.2);
        transform: translateY(18rem) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.win-text {
    display: block;
    line-height: 100%;
    font-family: Suse;
    font-size: 12rem;
    animation: letter-breathe 1s cubic-bezier(0.78, 0, 0.22, 1) forwards;
    transform-origin: 50% 50%;
}

@keyframes letter-breathe {
    from {
        opacity: 0;
        font-size: 6rem;
        font-variation-settings: 'wght' 100;
    }

    to {
        opacity: 1;
        transform: translateY(0);
        font-size: 12rem;
        font-variation-settings: 'wght' 900;
    }
}