@keyframes slide-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(18rem) scaleY(2.5) scaleX(0.2);
        transform: translateY(18rem) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.win-text {
    display: block;
    line-height: 100%;
    font-family: Suse;
    font-size: 12rem;
    animation: letter-breathe 1s cubic-bezier(0.78, 0, 0.22, 1) forwards;
    transform-origin: 50% 50%;
}

@keyframes letter-breathe {
    from {
        opacity: 0;
        font-size: 6rem;
        font-variation-settings: 'wght' 100;
    }

    to {
        opacity: 1;
        transform: translateY(0);
        font-size: 12rem;
        font-variation-settings: 'wght' 900;
    }
}

.tries-container {
    padding: 0 8rem;
    overflow: auto hidden;
    overflow-clip-margin: 10rem;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 8rem;

    &::-webkit-scrollbar-thumb:hover {
        background: #a8a8a8 !important;
    }

    &::-webkit-scrollbar-track {
        transform: scale(1, 0);
        background-color: var(--background);
        height: 2px;
        border-radius: 4px;
    }

    &::-webkit-scrollbar {
        scrollbar-width: none;
        width: .5rem;
        height: .5rem;
        background-color: var(--background);
    }

    &::-webkit-scrollbar-thumb {
        opacity: 0;
        transition: background-color .2s;
        background-color: var(--background);
        border-radius: 4px;
    }

    &:hover::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: #c1c1c1;
    }

}

.backdrop {
    position: absolute;
    backdrop-filter: blur(6px);
    mask-image: linear-gradient(to right, white 90%, transparent);
    background: linear-gradient(to right, white 5%, transparent);
    z-index: 10;
    width: 10%;
    height: 95%;
    pointer-events: none;
}

.backdrop-right {
    mask-image: linear-gradient(to left, white 90%, transparent);
    background: linear-gradient(to left, white 5%, transparent);
}