.home--title {
    .home--title--segment {
        display: block;
        width: fit-content;
    }
}

.game-home-title {
    font-family: AlbaS;
    position: relative;
    width: fit-content;
    height: fit-content;
    line-height: 120%;
    margin-bottom: 2rem;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        bottom: 1px;
        left: 0;
        height: 5px;
        border-radius: 4px;
        background-color: var(--accent);
    }
}

.guessr-songs {
    display: grid;
    gap: 2rem;
    @apply grid-cols-3;
}

.guessr-song {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--accent-shadow);
    box-shadow: 0.3em 0.3em var(--accent-shadow);
    font-family: Omegle;
    font-size: 2rem;
    color: var(--accent-foreground);
    transition: all 0.35s;


    &:hover {
        background-color: var(--accent);
        border-color: var(--accent);
        color: #fff;
        box-shadow: -0.3em -0.3em var(--accent-shadow);
    }
}