.home--title {
    .home--title--segment {
        display: block;
        width: fit-content;
    }
}

.game-home-title {
    font-family: Omegle;
    position: relative;
    width: fit-content;
    height: fit-content;
    line-height: 120%;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        bottom: 1px;
        left: 0;
        height: 5px;
        border-radius: 4px;
        background-color: var(--accent);
    }
}

.guessr-songs {
    display: grid;
    gap: 2rem;
    @apply grid-cols-3;
}

.guessr-song {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--accent-shadow);
    box-shadow: 0.3em 0.3em var(--accent-shadow);
    font-family: Suse;
    font-weight: 800;
    font-size: 2rem;
    color: var(--accent-foreground);
    transition: all 0.35s;
    line-height: 125%;

    &:hover {
        background-color: var(--accent);
        border-color: var(--accent);
        color: #fff;
        box-shadow: -0.3em -0.3em var(--accent-shadow);
    }
}

.tagline {
    font-family: Quicksand;
    font-size: 2rem;
    font-weight: 600;
    color: var(--foreground);
    opacity: 0.5;
    letter-spacing: -.05em;
    line-height: 100%;
}